<sky-tile>
  <sky-tile-title>
    Tile 1
  </sky-tile-title>
  <sky-tile-summary>
    $123.4m
  </sky-tile-summary>
  <sky-tile-content>
    <sky-tile-content-section>
      Section 1
    </sky-tile-content-section>
    <sky-tile-content-section>
      <sky-inline-form>
        <div class="sky-form-group">
          <label
            class="sky-control-label"
            for="demo-input-3"
          >
            Something
          </label>
          <input
            id="demo-input-3"
            class="sky-form-control"
            type="text"
          />
        </div>
        <div class="sky-form-group">
          <label
            class="sky-control-label"
            for="demo-input-4"
          >
            Something else
          </label>
          <input
            id="demo-input-4"
            class="sky-form-control"
            type="text"
          />
        </div>
      </sky-inline-form>
    </sky-tile-content-section>
    <sky-tile-content-section>
      Section 2
    </sky-tile-content-section>
    <sky-tile-content-section>
      Section 3
    </sky-tile-content-section>
  </sky-tile-content>
</sky-tile>
