<div class="sky-inline-form-demo">

  <h2>Add mode</h2>

  <sky-inline-form
    id="inline-form-add"
  >

    <div class="sky-form-group">
      <label
        class="sky-control-label"
        for="demo-input-1"
      >
        Something
      </label>
      <input
        id="demo-input-1"
        class="sky-form-control"
        type="text"
      />
    </div>
    <div class="sky-form-group">
      <label
        class="sky-control-label"
        for="demo-input-2"
      >
        Something else
      </label>
      <input
        id="demo-input-2"
        class="sky-form-control"
        type="text"
      />
    </div>
  </sky-inline-form>

  <h2>Edit mode</h2>

  <sky-inline-form
    id="inline-form-edit"
    [showDeleteButton]="true"
  >

    <div class="sky-form-group">
      <label
        class="sky-control-label"
        for="demo-input-3"
      >
        Something
      </label>
      <input
        id="demo-input-3"
        class="sky-form-control"
        type="text"
      />
    </div>
    <div class="sky-form-group">
      <label
        class="sky-control-label"
        for="demo-input-4"
      >
        Something else
      </label>
      <input
        id="demo-input-4"
        class="sky-form-control"
        type="text"
      />
    </div>
  </sky-inline-form>
</div>
