<sky-tile>
  <sky-tile-title>
    Beatles songs
  </sky-tile-title>
  <sky-tile-summary>
    3
  </sky-tile-summary>
  <sky-tile-content>
    <sky-tile-content-section *ngFor="let item of tileData"
    [@skySlideDissolve]="activeItemId === item.id"
    >
      <div *ngIf="activeItemId !== item.id"
        class="sky-slide-dissolve-trigger"
      >
        <b>
          {{ item.title }}
        </b>
        {{ item.note }}
        <button
          class="sky-btn sky-btn-link sky-no-focus"
          (click)="activeItemId = item.id"
        >
          <sky-icon
            aria-label="Edit"
            icon="pencil"
          >
          </sky-icon>
        </button>
      </div>
      <div *ngIf="activeItemId === item.id"
        class="sky-slide-dissolve-content"
      >
        <sky-inline-form
          (close)="onInlineFormClose($event)"
        >
          <div class="sky-form-group">
            <label
              class="sky-control-label"
              for="demo-input-3"
            >
              Title
            </label>
            <input
              id="demo-input-3"
              class="sky-form-control"
              type="text"
              [(ngModel)]="item.title"
            />
          </div>
          <div class="sky-form-group">
            <label
              class="sky-control-label"
              for="demo-input-4"
            >
              Note
            </label>
            <input
              id="demo-input-4"
              class="sky-form-control"
              type="text"
              [(ngModel)]="item.note"
            />
          </div>
        </sky-inline-form>
      </div>

    </sky-tile-content-section>
  </sky-tile-content>
</sky-tile>
