@import "../../styles/mixins";

.sky-inline-form {
  background: $sky-background-color-neutral-light;
  border: 1px solid $sky-border-color-neutral-medium;
  padding: $sky-padding-even-default;
  width: 100%;

  .sky-inline-form-footer {
    margin-top: $sky-margin-stacked-separate;

    button {
      margin: 0 5px 0 0;
    }
  }
}

::ng-deep sky-repeater-item-content .sky-inline-form {
    margin-top: -10px;
}
