<sky-inline-form
  id="my-inline-form"
  [config]="inlineFormConfig"
  [showForm]="showForm"
  [template]="inlineFormTemplate"
  (close)="onInlineFormClose($event)"
>
  <h4>
    {{ title }}
    <button
      aria-label="Edit"
      class="sky-btn sky-btn-link sky-demo-btn-edit"
      (click)="showForm = true"
    >
      <sky-icon
        icon="pencil"
      ></sky-icon>
    </button>
  </h4>
</sky-inline-form>

<ng-template
  #inlineFormTemplate
>
  <div
    class="sky-form-group"
  >
    <label
      class="sky-control-label"
      for="my-inline-form"
    >
      Page title
    </label>
    <input
      id="input-page-title"
      class="sky-form-control"
      type="text"
      [(ngModel)]="demoModel.title"
    />
  </div>
</ng-template>
